{% extends 'Admin/Commun Admin/base.html.twig' %}
{% block principal %}
<h2>Menu Administrateur</h2>
<h3>Option</h3>
<a href="{{path('ajoutercategorie')}}">Ajouter Catégorie</a> <br>
<a href="{{path('modifierCategorie')}}">Modifier Catégorie</a> <br>
<a href="{{path('ajouterProduit')}}">Ajouter Produit</a><br>
<a href="{{path('modifierProduit')}}">Modifier Produit</a><br>
<a href="{{path('rapportdesvente')}}">Rapports sur les Ventes</a><br>
<a href="{{path('afficherCatalogue')}}">Produit du Catalogue</a><br>
<a href="{{path('produitACommander')}}">Produit à Commander</a><br>
<a href="{{path('deconnexion')}}">Déconnexion</a><br>
{% endblock %}